/**
 * Admin Stylesheet
 */

// ACF Row Striping
.acf-row:nth-of-type(odd) {
  .order,
  .remove {
    background-color: #dbf4fe;
  }
  .acf-fields {
    background-color: rgba(219, 244, 254, 0.71);
  }
}

// Style ACF Handles
.acf-postbox .hndle {
  background-color: #0074a2;
  color: #fff;
}

// Style ACF Handle Icons
.postbox .hndle:before,
#postimagediv .hndle:before {
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font: normal 20px/1 'dashicons';
  vertical-align: top;
  padding-right: 10px;
}

// Set Icons for Specific ACF Fields
#acf-group_5668a0c287ad2 .hndle:before {
  content: "\f313";
}
#acf-group_5668a1303ec92 .hndle:before {
  content: "\f209";
}
#acf-group_5669aa43385b8 .hndle:before {
  content: "\f232";
}
#acf-group_56689f9fec910 .hndle:before {
  content: "\f233";
}