.event {
    @include cf();
    margin-top: 60px;

    &:last-of-type {
        margin-bottom: 60px;
    }

    .wp-post-image {
        margin-bottom: 20px;
    }
}

.event-left {
    float: left;
    margin-right: 30px;
    width: 200px;

    & * {
        display: block;
        width: 100%;
    }

    @include below(800px) {
        display: none;
    }
}

.event-date {
    background-color: $color-primary;
    display: flex;
    flex-direction: column;
    font-size: .8em;
    height: 180px;
    justify-content: space-around;
    padding: 20px;
    text-align: center;
    width: 100%;

    * {
        color: $color-bg;
    }

}

.event-wrap {
    float: left;
    text-align: center;
    width: calc(100% - 230px);

    @include below(800px) {
        width: 100%;
    }
}

.event-month {
    font-size: .8em;
    line-height: 1.2;
    margin: 0;
}

.event-days {
    font-size: 3em;
    letter-spacing: 0;
    margin: 0;
}

.event-hours {
    font-size: .9em;
    font-weight: 100;
    letter-spacing: 4px;
    margin: 0;
}

.event-time {
    display: block;
    font-style: italic;
    letter-spacing: 1px;
}

.event-hr {
    background-color: $color-primary;
    border: none;
    height: 1px;
    margin: 20px auto;
    max-width: 100px;
}

.event-details {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
}

.event-date-mobile {
    width: 100%;

    @include above(800px) {
        display: none;
    }
}

.past-events {
    text-align: center;
    margin-left: auto;

    @include above(800px) {
        width: calc(100% - 230px);
    }

    padding: 40px;
    color: lighten($color-text, 20%);
    background-color: lighten($color-secondary, 30%);
    margin-bottom: 40px;

    h2 {
        color: lighten($color-text, 20%);
    }

    .event-hr {
        background-color: lighten($color-text, 20%);
    }
}

.past-event {
    display: block;
    color: lighten($color-text, 20%);
    &:hover {
        color: lighten($color-text, 20%);
        text-decoration: underline;
    }
}