.modal-wrapper {
    background-color: rgba(0,0,0, .5);
    height: 100vh;
    opacity: 0;
    position: fixed;
    transition: opacity .15s linear;
    visibility: hidden;
    width: 100%;
    will-change: transform, opacity, children;
    z-index: 10;

    &.js-active {
        visibility: visible;
        opacity: 1;
    }
}

.modal {
    background-color: $color-bg;
    left: 50%;
    max-width: calc(100% - 20px);
    overflow: hidden;
    padding-top: 40px;
    padding: 20px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1.2);
    transition: all .4s cubic-bezier(.87,-.41,.19,1.44);
    width: 500px;
    will-change: transform;
    z-index: 11;

    .js-active & {
        transform: translate3d(-50%, -50%, 0);
    }

    h3 {
        margin: 25px 0;
    }
}

// 'X' Dismiss button
.modal-dismiss {
    cursor: pointer;
    font-size: 60px;
    font-weight: bold;
    line-height: 1;
    position: absolute;
    right: 12px;
    top: -5px;
    transform: rotate(45deg);
    transition: .1s all ease-in;

    &:hover {
        transform: rotate(45deg) scale(1.3);
    }
}

.modal-inner {
    opacity: 0;
    display: none;

    &.js-active {
        opacity: 1;
        display: block;
    }
}

