// Shared
.sectional,
.section,
.block,
.overlay,
.has-background {
    height: 100%;
    overflow: hidden;
    transition: height 0.5s ease;
}

// Sectional
.sectional {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    height: auto;

    &--full {
        max-width: 100%;
    }

    &.designers {
        padding-top: $gutter;
        border-top: 1px solid $color-bg-alt;
    }
}

.section {
    overflow: hidden;
    margin: $gutter 0;
    margin-bottom: 10px;

    @include below(600px) {
        margin: 0;
    }

    .section {
        margin: 0;
        height: 100% !important;

        .block--force-right {
            float: right;
            margin: 0;
        }
    }
}

// Block
.block {
    box-sizing: border-box;
    float: left;
    overflow: hidden;
    position: relative;

    &:first-child {
        padding-right: calc(#{$gutter} * .5);
    }

    &:nth-child(2):not(:last-child) {
        padding: 0 calc(#{$gutter} * .25);
    }

    &:last-of-type:not(:first-child) {
        // margin-right: 0;
        float: right;
    }

    &:last-child {
        padding-left: calc(#{$gutter} * .5);
    }

    &--half {
        width: calc(50% - 5px);
    }

    &--third {
        width: calc(33.3333% - 5px);
    }

    &--two-third {
        width: calc(66.6666% - 5px);
    }

    &--full {
        width: 100%;

        &:first-child,
        &:last-child {
            padding: 0;
        }

        &.text-center .inner {
            max-width: 85%;
            margin: 0 auto;
        }
    }

    &.gutterless {
        padding: 0;
    }

    .overlay .block {
        padding: $gutter;
    }

    @include below(600px) {
        float: none;
        padding: 15px !important;

        .overlay {
            padding: 15px !important;
        }
    }
}

.inner,
.image-container {
    position: relative;
}

.image-container {

    img {
        width: auto;
        margin: 0 auto;
        display: block;
    }

    .block--third &,
    .block--half {
        img {
            max-height: 300px;
        }
    }
}

.title-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: $gutter;
    width: 100%;
    h2 {
        margin: 0;
    }
}

.has-background {
    background: {
        repeat: no-repeat;
        size: cover;
        position: center;
    }
}

.has-background .inner,
.secondary .inner,
.tertiary .inner,
.quaternary .inner {
    padding: 15px;

    @include below(600px) {
        padding: 15px !important;
    }
}

.block--half,
.block--third {
    .image-container {
        padding-bottom: $gutter;
    }
}

.block:not(.primary) .section div[class*='component-'] {
    padding: $gutter;
}

.block--half,
.block--third,
.block--third:nth-child(2):not(:last-child),
.block--two-third, .block.gutterless {

    @include below(600px) {
        height: auto !important;
        margin: 15px 0 !important;
        padding: 0 !important;
        width: 100%;

        .block {
            margin: 0 !important;
        }
    }

}
.block--full {
    @include below(600px) {
        padding: 0 !important;
    }
}

.block--third {
    ul {
        padding: 0;
    }
    li {
        list-style-type: none;
        &:before {
            content: '\2022 ';
            padding-right: .5em;
        }
    }
}

@include below(600px) {
    .primary .overlay--none {
        background-color: rgba($color-bg, .5);
    }
    .text--dark .overlay {
        background-color: rgba(#000, .5);
    }
    .sectional.designers .section .section .block--half {
        width: 50%;
        float: left;
    }
}