share-button {
    display: block !important;
    position: relative;
    font-size: 16px;
    color: #333;
    background: #a29baa;
    padding: 5px 10px 5px 1.75em;
    border-radius: 5px;
    font-family: Lato, sans-serif;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    white-space: nowrap;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    text-transform: uppercase;
}
share-button:hover {
  color: rgba(51,51,51,0.8);
  background: rgba(162,155,170,0.8);
}
share-button .sb-social {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
share-button .sb-social.sb-center {
  left: 50%;
}
share-button .sb-social.sb-center.sb-top {
  top: 0;
  -webkit-transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
}
share-button .sb-social.sb-center.sb-bottom {
  bottom: 0;
  -webkit-transform: translate(-50%, 100%);
  -ms-transform: translate(-50%, 100%);
  transform: translate(-50%, 100%);
}
share-button .sb-social.sb-center.active.sb-top {
  top: -1em;
}
share-button .sb-social.sb-center.active.sb-bottom {
  bottom: -1em;
}
share-button .sb-social.sb-left {
  left: 50%;
}
share-button .sb-social.sb-left.sb-top {
  top: 0;
  -webkit-transform: translate(calc(-100% + 30px), -100%);
  -ms-transform: translate(calc(-100% + 30px), -100%);
  transform: translate(calc(-100% + 30px), -100%);
}
share-button .sb-social.sb-left.sb-middle {
  top: 50%;
  left: 0;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}
share-button .sb-social.sb-left.sb-bottom {
  bottom: 0;
  -webkit-transform: translate(calc(-100% + 30px), 100%);
  -ms-transform: translate(calc(-100% + 30px), 100%);
  transform: translate(calc(-100% + 30px), 100%);
}
share-button .sb-social.sb-left.active.sb-top {
  top: -1em;
}
share-button .sb-social.sb-left.active.sb-middle {
  left: -1em;
}
share-button .sb-social.sb-left.active.sb-bottom {
  bottom: -1em;
}
share-button .sb-social.sb-right {
  left: 50%;
}
share-button .sb-social.sb-right.sb-top {
  top: 0;
  -webkit-transform: translate(-30px, -100%);
  -ms-transform: translate(-30px, -100%);
  transform: translate(-30px, -100%);
}
share-button .sb-social.sb-right.sb-middle {
  top: 50%;
  left: 100%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
share-button .sb-social.sb-right.sb-bottom {
  bottom: 0;
  -webkit-transform: translate(-30px, 100%);
  -ms-transform: translate(-30px, 100%);
  transform: translate(-30px, 100%);
}
share-button .sb-social.sb-right.active.sb-top {
  top: -1em;
}
share-button .sb-social.sb-right.active.sb-middle {
  left: calc(100% + 1em);
}
share-button .sb-social.sb-right.active.sb-bottom {
  bottom: -1em;
}
share-button .sb-social.active {
  opacity: 1;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  visibility: visible;
}
share-button .sb-social.load {
  -webkit-transition: none !important;
  transition: none !important;
}
@media screen and (max-width: 400px) {
  share-button .sb-social.networks-6.sb-center {
    white-space: initial;
    text-align: center;
    width: 300px;
}
}
@media screen and (max-width: 460px) {
  share-button .sb-social.networks-7.sb-center {
    white-space: initial;
    text-align: center;
    width: 360px;
}
}
@media screen and (max-width: 400px) {
  share-button .sb-social.networks-7.sb-center {
    white-space: initial;
    text-align: center;
    width: 300px;
}
}
@media screen and (max-width: 520px) {
  share-button .sb-social.networks-8.sb-center {
    white-space: initial;
    text-align: center;
    width: 420px;
}
}
@media screen and (max-width: 460px) {
  share-button .sb-social.networks-8.sb-center {
    white-space: initial;
    text-align: center;
    width: 360px;
}
}
@media screen and (max-width: 400px) {
  share-button .sb-social.networks-8.sb-center {
    white-space: initial;
    text-align: center;
    width: 300px;
}
}
share-button .sb-social ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 0;
}
share-button .sb-social ul li {
  position: relative;
  height: 22px;
  width: 60px;
  padding: 12px 0;
  margin: 0;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  z-index: 2;
  box-sizing: content-box;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
share-button .sb-social ul li.enabled {
  display: inline-block;
}
share-button .sb-social ul li.disabled {
  display: none;
}
share-button .sb-social ul li:hover:before {
  opacity: 0;
}
share-button .sb-social ul li:hover:after {
  opacity: 0.5;
}
share-button .sb-social ul li:before,
share-button .sb-social ul li:after {
  content: ' ';
  position: absolute;
  width: inherit;
  height: inherit;
  -webkit-transform: translate(-20%, 0);
  -ms-transform: translate(-20%, 0);
  transform: translate(-20%, 0);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  background-repeat: no-repeat !important;
}
share-button .sb-social ul li:before {
  opacity: 1;
}
share-button .sb-social ul li:after {
  opacity: 0;
}
share-button .sb-social ul li a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
share-button .sb-social li[class*='email'] {
  background: #42c5b0;
}
share-button .sb-social li[class*='email']:before {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2020%2020%22%20style%3D%22fill%3A%23fff%3B%22%20height%3D%22%22%20width%3D%22%22%3E%20%3Cpath%20d%3D%22M18.64%202.634c-.344.12-17.32%206.104-17.656%206.222-.284.1-.347.345-.01.48l3.796%201.52%202.25.9L18.004%203.69c.148-.106.318.097.21.213-.106.117-7.87%208.513-7.87%208.513v.002l-.452.503.6.323%204.98%202.682c.292.156.67.027.753-.334.1-.425%202.845-12.26%202.906-12.524.08-.343-.146-.552-.49-.43zM7%2017.162c0%20.246.14.315.33.14.252-.228%202.85-2.56%202.85-2.56L7%2013.098v4.064z%22%2F%3E%3C%2Fsvg%3E");
}
share-button .sb-social li[class*='email']:after {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2020%2020%22%20style%3D%22fill%3A%23000%3B%22%20height%3D%22%22%20width%3D%22%22%3E%20%3Cpath%20d%3D%22M18.64%202.634c-.344.12-17.32%206.104-17.656%206.222-.284.1-.347.345-.01.48l3.796%201.52%202.25.9L18.004%203.69c.148-.106.318.097.21.213-.106.117-7.87%208.513-7.87%208.513v.002l-.452.503.6.323%204.98%202.682c.292.156.67.027.753-.334.1-.425%202.845-12.26%202.906-12.524.08-.343-.146-.552-.49-.43zM7%2017.162c0%20.246.14.315.33.14.252-.228%202.85-2.56%202.85-2.56L7%2013.098v4.064z%22%2F%3E%3C%2Fsvg%3E");
}
share-button .sb-social li[class*='facebook'] {
  background: #3b5998;
}
share-button .sb-social li[class*='facebook']:before {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%20style%3D%22fill%3A%23fff%3B%22%20height%3D%22%22%20width%3D%22%22%3E%20%3Cpath%20d%3D%22M288%20192v-38.1c0-17.2%203.8-25.9%2030.5-25.9H352V64h-55.9c-68.5%200-91.1%2031.4-91.1%2085.3V192h-45v64h45v192h83V256h56.4l7.6-64h-64z%22%2F%3E%3C%2Fsvg%3E");
}
share-button .sb-social li[class*='facebook']:after {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%20style%3D%22fill%3A%23000%3B%22%20height%3D%22%22%20width%3D%22%22%3E%20%3Cpath%20d%3D%22M288%20192v-38.1c0-17.2%203.8-25.9%2030.5-25.9H352V64h-55.9c-68.5%200-91.1%2031.4-91.1%2085.3V192h-45v64h45v192h83V256h56.4l7.6-64h-64z%22%2F%3E%3C%2Fsvg%3E");
}
share-button .sb-social li[class*='googlePlus'] {
  background: #e34429;
}
share-button .sb-social li[class*='googlePlus']:before {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2020%2020%22%20style%3D%22fill%3A%23fff%3B%22%20height%3D%22%22%20width%3D%22%22%3E%20%3Cpath%20d%3D%22M1.99%205.59c0%201.493.498%202.57%201.48%203.204.807.52%201.74.598%202.227.598.118%200%20.213-.006.28-.01%200%200-.155%201.004.59%201.996H6.53c-1.29%200-5.493.27-5.493%203.727%200%203.516%203.86%203.695%204.635%203.695.06%200%20.097-.002.097-.002.007%200%20.062.002.157.002.497%200%201.782-.062%202.975-.643%201.548-.75%202.333-2.06%202.333-3.885%200-1.764-1.196-2.814-2.07-3.582-.532-.47-.993-.873-.993-1.266%200-.4.337-.7.762-1.082.69-.615%201.34-1.492%201.34-3.15%200-1.457-.19-2.436-1.355-3.057.12-.062.55-.107.762-.137.63-.086%201.554-.184%201.554-.7V1.2h-4.6c-.046.002-4.65.172-4.65%204.39zm7.422%209.01c.088%201.406-1.115%202.443-2.922%202.574-1.834.135-3.344-.69-3.432-2.096-.043-.676.254-1.336.835-1.863.59-.533%201.398-.863%202.278-.928.106-.007.21-.013.31-.013%201.7%200%202.85%201%202.934%202.325zm-1.2-9.976c.45%201.588-.23%203.246-1.317%203.553-.125.034-.253.05-.384.05-.993%200-1.98-1.005-2.344-2.392-.204-.776-.187-1.458.047-2.112.23-.645.643-1.078%201.163-1.225.125-.034.254-.052.385-.052%201.2%200%201.973.498%202.45%202.178zM16%208V5h-2v3h-3v2h3v3h2v-3h3V8h-3z%22%2F%3E%3C%2Fsvg%3E");
}
share-button .sb-social li[class*='googlePlus']:after {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2020%2020%22%20style%3D%22fill%3A%23000%3B%22%20height%3D%22%22%20width%3D%22%22%3E%20%3Cpath%20d%3D%22M1.99%205.59c0%201.493.498%202.57%201.48%203.204.807.52%201.74.598%202.227.598.118%200%20.213-.006.28-.01%200%200-.155%201.004.59%201.996H6.53c-1.29%200-5.493.27-5.493%203.727%200%203.516%203.86%203.695%204.635%203.695.06%200%20.097-.002.097-.002.007%200%20.062.002.157.002.497%200%201.782-.062%202.975-.643%201.548-.75%202.333-2.06%202.333-3.885%200-1.764-1.196-2.814-2.07-3.582-.532-.47-.993-.873-.993-1.266%200-.4.337-.7.762-1.082.69-.615%201.34-1.492%201.34-3.15%200-1.457-.19-2.436-1.355-3.057.12-.062.55-.107.762-.137.63-.086%201.554-.184%201.554-.7V1.2h-4.6c-.046.002-4.65.172-4.65%204.39zm7.422%209.01c.088%201.406-1.115%202.443-2.922%202.574-1.834.135-3.344-.69-3.432-2.096-.043-.676.254-1.336.835-1.863.59-.533%201.398-.863%202.278-.928.106-.007.21-.013.31-.013%201.7%200%202.85%201%202.934%202.325zm-1.2-9.976c.45%201.588-.23%203.246-1.317%203.553-.125.034-.253.05-.384.05-.993%200-1.98-1.005-2.344-2.392-.204-.776-.187-1.458.047-2.112.23-.645.643-1.078%201.163-1.225.125-.034.254-.052.385-.052%201.2%200%201.973.498%202.45%202.178zM16%208V5h-2v3h-3v2h3v3h2v-3h3V8h-3z%22%2F%3E%3C%2Fsvg%3E");
}
share-button .sb-social li[class*='linkedin'] {
  background: #4875b4;
}
share-button .sb-social li[class*='linkedin']:before {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2020%2020%22%20style%3D%22fill%3A%23fff%3B%22%20height%3D%22%22%20width%3D%22%22%3E%20%3Cpath%20d%3D%22M5%203c0%201.1-.7%202-2%202-1.2%200-2-.9-2-1.9C1%202%201.8%201%203%201s2%20.9%202%202zM1%2019h4V6H1v13zM14.6%206.2c-2.1%200-3.3%201.2-3.8%202h-.1l-.2-1.7H6.9c0%201.1.1%202.4.1%203.9V19h4v-7.1c0-.4%200-.7.1-1%20.3-.7.8-1.6%201.9-1.6%201.4%200%202%201.2%202%202.8V19h4v-7.4c0-3.7-1.9-5.4-4.4-5.4z%22%2F%3E%3C%2Fsvg%3E");
}
share-button .sb-social li[class*='linkedin']:after {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2020%2020%22%20style%3D%22fill%3A%23000%3B%22%20height%3D%22%22%20width%3D%22%22%3E%20%3Cpath%20d%3D%22M5%203c0%201.1-.7%202-2%202-1.2%200-2-.9-2-1.9C1%202%201.8%201%203%201s2%20.9%202%202zM1%2019h4V6H1v13zM14.6%206.2c-2.1%200-3.3%201.2-3.8%202h-.1l-.2-1.7H6.9c0%201.1.1%202.4.1%203.9V19h4v-7.1c0-.4%200-.7.1-1%20.3-.7.8-1.6%201.9-1.6%201.4%200%202%201.2%202%202.8V19h4v-7.4c0-3.7-1.9-5.4-4.4-5.4z%22%2F%3E%3C%2Fsvg%3E");
}
share-button .sb-social li[class*='pinterest'] {
  background: #c5282f;
}
share-button .sb-social li[class*='pinterest']:before {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2020%2020%22%20style%3D%22fill%3A%23fff%3B%22%20height%3D%22%22%20width%3D%22%22%3E%20%3Cpath%20d%3D%22M8.617%2013.227C8.09%2015.98%207.45%2018.62%205.55%2020c-.587-4.162.86-7.287%201.533-10.605-1.147-1.93.138-5.812%202.555-4.855%202.975%201.176-2.576%207.172%201.15%207.922%203.89.78%205.48-6.75%203.066-9.2C10.37-.274%203.708%203.18%204.528%208.246c.2%201.238%201.478%201.613.51%203.322-2.23-.494-2.896-2.254-2.81-4.6.138-3.84%203.45-6.527%206.77-6.9%204.202-.47%208.145%201.543%208.69%205.494.613%204.462-1.896%209.294-6.39%208.946-1.217-.095-1.727-.7-2.68-1.28z%22%2F%3E%3C%2Fsvg%3E");
}
share-button .sb-social li[class*='pinterest']:after {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2020%2020%22%20style%3D%22fill%3A%23000%3B%22%20height%3D%22%22%20width%3D%22%22%3E%20%3Cpath%20d%3D%22M8.617%2013.227C8.09%2015.98%207.45%2018.62%205.55%2020c-.587-4.162.86-7.287%201.533-10.605-1.147-1.93.138-5.812%202.555-4.855%202.975%201.176-2.576%207.172%201.15%207.922%203.89.78%205.48-6.75%203.066-9.2C10.37-.274%203.708%203.18%204.528%208.246c.2%201.238%201.478%201.613.51%203.322-2.23-.494-2.896-2.254-2.81-4.6.138-3.84%203.45-6.527%206.77-6.9%204.202-.47%208.145%201.543%208.69%205.494.613%204.462-1.896%209.294-6.39%208.946-1.217-.095-1.727-.7-2.68-1.28z%22%2F%3E%3C%2Fsvg%3E");
}
share-button .sb-social li[class*='reddit'] {
  background: #a1caf2;
}
share-button .sb-social li[class*='reddit']:before {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20426.66%22%20style%3D%22fill%3A%23fff%3B%22%20height%3D%22%22%20width%3D%22%22%3E%20%3Cpath%20d%3D%22M478.905%20196.556c0-4.5-1.028-8.933-3.268-13.09l-.053-.053-.026-.06c-3.004-6.198-7.72-10.862-13.4-14.05-5.677-3.19-12.317-4.836-18.983-4.836-6.02%200-12.016%201.363-17.338%204.038%2016.916%2014.677%2031.765%2032.37%2041.37%2053.128%203.08-2.668%205.717-5.97%207.68-9.604%202.57-4.785%204.018-10.186%204.018-15.475zm-33.635%2073.442c0-18.484-6.653-36.98-17.43-51.94-21.476-29.868-54.82-49.38-89.497-60.243l-.25-.118c-6.64-2.05-13.373-3.808-20.158-5.402-20.263-4.61-41.026-6.884-61.796-6.884-27.874%200-55.738%204.1-82.43%2012.347-34.67%2011.034-68.108%2030.375-89.557%2060.36v.054C73.29%20233.138%2066.92%20251.74%2066.92%20270.226c0%206.824.857%2013.648%202.655%2020.315h.02c3.906%2014.834%2011.54%2028.153%2021.416%2039.76%209.875%2011.542%2021.99%2021.45%2034.736%2029.525%202.82%201.766%205.652%203.412%208.55%205.06%2037.01%2020.645%2079.63%2029.695%20121.947%2029.695%207.146%200%2014.354-.224%2021.455-.737%2042.62-3.518%2085.41-16.1%20119.995-41.804h.013c11.015-8.145%2021.212-18.05%2029.288-29.25%208.09-11.21%2014.018-23.715%2016.653-37.31v-.067h.012c1.093-5.126%201.607-10.238%201.607-15.416zM86.078%20168.736c-5.514-2.562-11.212-4.387-16.845-4.387-.94%200-1.896.057-2.846.17h-.27c-8.09.23-16.25%203.754-22.377%209.445-6.133%205.633-10.19%2013.2-10.494%2021.62v.053l-.013.06c-.06.684-.08%201.362-.08%201.988%200%205.178%201.59%2010.184%204.276%2014.735%201.994%203.414%204.602%206.483%207.554%209.158%209.453-20.703%2024.222-38.226%2041.093-52.844zM390.448%2058.2c0%20.566%200%201.14.066%201.706v.112c.25%207.167%203.637%2013.827%208.788%2018.774%205.164%204.895%2012.016%207.964%2018.972%207.964h.185l1.5.06c7.01%200%2013.98-3.017%2019.21-7.91%205.242-4.948%208.707-11.66%208.983-18.888v-.053c.053-.572.08-1.08.08-1.653%200-7.45-3.48-14.505-8.933-19.795-5.414-5.237-12.713-8.478-19.92-8.478-2.318%200-4.61.34-6.877%201.026l-.053.053h-.08c-5.928%201.534-11.487%205.177-15.48%2010.07-4.017%204.835-6.44%2010.81-6.44%2017.01zm121.447%20134.937v.06c.08%201.14.105%202.22.105%203.36%200%2012.396-3.992%2024.405-10.646%2034.523-6.218%209.5-14.782%2017.47-24.637%2022.818.633%204.94%201%209.947%201%2014.9-.025%2026.798-9.247%2053.135-25.334%2074.24h-.026c-29.735%2039.538-75.373%2062.857-121.46%2074.583h-.012l-.04.055c-24.57%205.98-49.906%208.985-75.247%208.985-37.766%200-75.512-6.772-110.722-20.923h-.046c-36.508-15.085-71.296-38.97-92.633-74.016-11.475-18.72-17.772-40.683-17.772-62.685%200-5.006.33-10.013%201-14.913-9.617-5.454-17.937-13.082-24.116-22.238C4.71%20221.976.532%20210.487%200%20198.314v-.224c.013-17.068%207.424-33.228%2018.945-45.11%2011.52-11.95%2027.252-19.743%2044.136-19.743h.7c1.76-.12%203.558-.172%205.343-.172%208.478%200%2016.976%201.364%2025.045%204.493h.086c6.89%202.904%2013.734%206.43%2019.834%2011.265%201.977-1.02%204.13-2.22%206.555-3.13%2036.982-21.902%2079.958-30.32%20121.848-32.766.363-20.764%202.91-42.495%2013.03-61.5%208.426-15.81%2023.05-28.102%2040.48-32.37h.158c6.627-1.305%2013.32-1.877%2019.96-1.877%2017.706%200%2035.19%204.156%2051.565%2010.698%207.233-10.922%2017.575-19.46%2029.71-24.235l.118-.06.106-.053C404.73%201.31%20412.266%200%20419.83%200c7.956%200%2015.98%201.482%2023.503%204.835v-.053l.026.053.13.06c10.79%204.157%2019.92%2011.83%2026.39%2021.33%206.47%209.618%2010.29%2021.105%2010.29%2032.884%200%202.16-.133%204.32-.384%206.54l-.013.06-.026.11c-1.265%2015.25-8.985%2028.617-19.92%2038.116-11%209.617-25.243%2015.42-39.867%2015.42-2.345%200-4.716-.17-7.06-.46-14.507-1.134-28.024-8.13-37.958-18.604-9.974-10.408-16.39-24.347-16.39-39.36%200-.685.066-1.48.093-2.166-13.623-6.087-28.062-11.094-42.437-11.094-2.068%200-4.15.12-6.23.343h-.027c-10.75%201.027-20.75%207.793-25.597%2017.522v.053c-7.365%2014.342-8.814%2031.067-9.038%2047.733%2041.224%202.675%2082.71%2012.575%20119.087%2033.45h.054l.527.343c.686.396%201.95%201.08%203.123%201.707%202.49-2.05%205.14-4.098%208.155-5.916%2011.028-7.338%2024.085-10.98%2037.154-10.98%205.81%200%2011.62.737%2017.26%202.16h.013l.225.06.224.06c13.307%203.41%2025.36%2011.033%2034.426%2021.33%209.05%2010.354%2015.15%2023.384%2016.337%2037.6zm-345.39%2080.38h.15c3.254%201.198%206.606%201.765%209.934%201.765%208.285%200%2016.34-3.347%2022.44-8.866%206.094-5.573%2010.258-13.426%2010.258-22.358l-.015-.737.033-1.315c0-8.867-4.11-16.785-10.145-22.292-6.053-5.64-14.09-9.05-22.41-9.05-2.22%200-4.492.288-6.7.796h-.124c-11.008%202.34-20.678%2010.466-24.24%2021.73l-.015.066c-1.02%203.057-1.494%206.244-1.494%209.38%200%206.93%202.272%2013.597%206.198%2019.17%203.887%205.4%209.4%209.67%2016.008%2011.66m179.218%2041.42c-2.635-1.713-5.665-2.74-8.88-2.74-2.582%200-5.27.737-7.654%202.345-22.62%2013.48-49.234%2020.87-75.644%2020.87-19.82%200-39.524-4.15-57.37-12.91l-.092-.054-.085-.053c-2.688-1.08-5.758-3.426-9.104-5.64-1.7-1.132-3.47-2.213-5.44-3.017-1.942-.855-4.103-1.423-6.41-1.423-1.91%200-3.92.462-5.9%201.305l-.303.118h.013c-3.107%201.2-5.538%203.413-7.106%205.97-1.634%202.687-2.438%205.743-2.438%208.826%200%202.794.66%205.574%202.016%208.077%201.29%202.384%203.274%204.49%205.876%205.86%2025.514%2017.233%2055.545%2025.03%2085.702%2024.967%2027.187%200%2054.538-6.258%2078.885-17.747l.132-.054.132-.052c3.2-1.95%207.47-3.65%2011.486-6.087%202.003-1.317%203.94-2.74%205.612-4.678%201.66-1.87%203.003-4.204%203.767-6.997.304-1.252.462-2.45.462-3.584%200-2.267-.567-4.428-1.49-6.378-1.373-2.844-3.585-5.215-6.168-6.928zm20.473-82.5c1.318%203.372%201.91%206.89%201.91%2010.354%200%206.942-2.41%2013.78-6.455%2019.287-3.992%205.468-9.657%209.67-16.323%2011.555l-.146.053h-.09c-3.11%201.08-6.326%201.594-9.488%201.594-7.457%200-14.756-2.677-20.605-7.274-5.797-4.56-10.197-11.093-11.567-18.84h-.012l-.014-.105-.026-.064h.026c-.435-1.99-.658-3.98-.658-5.97%200-6.718%202.292-13.2%206.073-18.496%203.766-5.342%209.075-9.55%2015.294-11.712h.093c3.518-1.31%207.232-1.99%2010.896-1.99%206.692%200%2013.28%202.043%2018.84%205.745%205.48%203.637%209.934%208.985%2012.173%2015.65l.053.106.04.103h-.016z%22%2F%3E%3C%2Fsvg%3E");
}
share-button .sb-social li[class*='reddit']:after {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20426.66%22%20style%3D%22fill%3A%23000%3B%22%20height%3D%22%22%20width%3D%22%22%3E%20%3Cpath%20d%3D%22M478.905%20196.556c0-4.5-1.028-8.933-3.268-13.09l-.053-.053-.026-.06c-3.004-6.198-7.72-10.862-13.4-14.05-5.677-3.19-12.317-4.836-18.983-4.836-6.02%200-12.016%201.363-17.338%204.038%2016.916%2014.677%2031.765%2032.37%2041.37%2053.128%203.08-2.668%205.717-5.97%207.68-9.604%202.57-4.785%204.018-10.186%204.018-15.475zm-33.635%2073.442c0-18.484-6.653-36.98-17.43-51.94-21.476-29.868-54.82-49.38-89.497-60.243l-.25-.118c-6.64-2.05-13.373-3.808-20.158-5.402-20.263-4.61-41.026-6.884-61.796-6.884-27.874%200-55.738%204.1-82.43%2012.347-34.67%2011.034-68.108%2030.375-89.557%2060.36v.054C73.29%20233.138%2066.92%20251.74%2066.92%20270.226c0%206.824.857%2013.648%202.655%2020.315h.02c3.906%2014.834%2011.54%2028.153%2021.416%2039.76%209.875%2011.542%2021.99%2021.45%2034.736%2029.525%202.82%201.766%205.652%203.412%208.55%205.06%2037.01%2020.645%2079.63%2029.695%20121.947%2029.695%207.146%200%2014.354-.224%2021.455-.737%2042.62-3.518%2085.41-16.1%20119.995-41.804h.013c11.015-8.145%2021.212-18.05%2029.288-29.25%208.09-11.21%2014.018-23.715%2016.653-37.31v-.067h.012c1.093-5.126%201.607-10.238%201.607-15.416zM86.078%20168.736c-5.514-2.562-11.212-4.387-16.845-4.387-.94%200-1.896.057-2.846.17h-.27c-8.09.23-16.25%203.754-22.377%209.445-6.133%205.633-10.19%2013.2-10.494%2021.62v.053l-.013.06c-.06.684-.08%201.362-.08%201.988%200%205.178%201.59%2010.184%204.276%2014.735%201.994%203.414%204.602%206.483%207.554%209.158%209.453-20.703%2024.222-38.226%2041.093-52.844zM390.448%2058.2c0%20.566%200%201.14.066%201.706v.112c.25%207.167%203.637%2013.827%208.788%2018.774%205.164%204.895%2012.016%207.964%2018.972%207.964h.185l1.5.06c7.01%200%2013.98-3.017%2019.21-7.91%205.242-4.948%208.707-11.66%208.983-18.888v-.053c.053-.572.08-1.08.08-1.653%200-7.45-3.48-14.505-8.933-19.795-5.414-5.237-12.713-8.478-19.92-8.478-2.318%200-4.61.34-6.877%201.026l-.053.053h-.08c-5.928%201.534-11.487%205.177-15.48%2010.07-4.017%204.835-6.44%2010.81-6.44%2017.01zm121.447%20134.937v.06c.08%201.14.105%202.22.105%203.36%200%2012.396-3.992%2024.405-10.646%2034.523-6.218%209.5-14.782%2017.47-24.637%2022.818.633%204.94%201%209.947%201%2014.9-.025%2026.798-9.247%2053.135-25.334%2074.24h-.026c-29.735%2039.538-75.373%2062.857-121.46%2074.583h-.012l-.04.055c-24.57%205.98-49.906%208.985-75.247%208.985-37.766%200-75.512-6.772-110.722-20.923h-.046c-36.508-15.085-71.296-38.97-92.633-74.016-11.475-18.72-17.772-40.683-17.772-62.685%200-5.006.33-10.013%201-14.913-9.617-5.454-17.937-13.082-24.116-22.238C4.71%20221.976.532%20210.487%200%20198.314v-.224c.013-17.068%207.424-33.228%2018.945-45.11%2011.52-11.95%2027.252-19.743%2044.136-19.743h.7c1.76-.12%203.558-.172%205.343-.172%208.478%200%2016.976%201.364%2025.045%204.493h.086c6.89%202.904%2013.734%206.43%2019.834%2011.265%201.977-1.02%204.13-2.22%206.555-3.13%2036.982-21.902%2079.958-30.32%20121.848-32.766.363-20.764%202.91-42.495%2013.03-61.5%208.426-15.81%2023.05-28.102%2040.48-32.37h.158c6.627-1.305%2013.32-1.877%2019.96-1.877%2017.706%200%2035.19%204.156%2051.565%2010.698%207.233-10.922%2017.575-19.46%2029.71-24.235l.118-.06.106-.053C404.73%201.31%20412.266%200%20419.83%200c7.956%200%2015.98%201.482%2023.503%204.835v-.053l.026.053.13.06c10.79%204.157%2019.92%2011.83%2026.39%2021.33%206.47%209.618%2010.29%2021.105%2010.29%2032.884%200%202.16-.133%204.32-.384%206.54l-.013.06-.026.11c-1.265%2015.25-8.985%2028.617-19.92%2038.116-11%209.617-25.243%2015.42-39.867%2015.42-2.345%200-4.716-.17-7.06-.46-14.507-1.134-28.024-8.13-37.958-18.604-9.974-10.408-16.39-24.347-16.39-39.36%200-.685.066-1.48.093-2.166-13.623-6.087-28.062-11.094-42.437-11.094-2.068%200-4.15.12-6.23.343h-.027c-10.75%201.027-20.75%207.793-25.597%2017.522v.053c-7.365%2014.342-8.814%2031.067-9.038%2047.733%2041.224%202.675%2082.71%2012.575%20119.087%2033.45h.054l.527.343c.686.396%201.95%201.08%203.123%201.707%202.49-2.05%205.14-4.098%208.155-5.916%2011.028-7.338%2024.085-10.98%2037.154-10.98%205.81%200%2011.62.737%2017.26%202.16h.013l.225.06.224.06c13.307%203.41%2025.36%2011.033%2034.426%2021.33%209.05%2010.354%2015.15%2023.384%2016.337%2037.6zm-345.39%2080.38h.15c3.254%201.198%206.606%201.765%209.934%201.765%208.285%200%2016.34-3.347%2022.44-8.866%206.094-5.573%2010.258-13.426%2010.258-22.358l-.015-.737.033-1.315c0-8.867-4.11-16.785-10.145-22.292-6.053-5.64-14.09-9.05-22.41-9.05-2.22%200-4.492.288-6.7.796h-.124c-11.008%202.34-20.678%2010.466-24.24%2021.73l-.015.066c-1.02%203.057-1.494%206.244-1.494%209.38%200%206.93%202.272%2013.597%206.198%2019.17%203.887%205.4%209.4%209.67%2016.008%2011.66m179.218%2041.42c-2.635-1.713-5.665-2.74-8.88-2.74-2.582%200-5.27.737-7.654%202.345-22.62%2013.48-49.234%2020.87-75.644%2020.87-19.82%200-39.524-4.15-57.37-12.91l-.092-.054-.085-.053c-2.688-1.08-5.758-3.426-9.104-5.64-1.7-1.132-3.47-2.213-5.44-3.017-1.942-.855-4.103-1.423-6.41-1.423-1.91%200-3.92.462-5.9%201.305l-.303.118h.013c-3.107%201.2-5.538%203.413-7.106%205.97-1.634%202.687-2.438%205.743-2.438%208.826%200%202.794.66%205.574%202.016%208.077%201.29%202.384%203.274%204.49%205.876%205.86%2025.514%2017.233%2055.545%2025.03%2085.702%2024.967%2027.187%200%2054.538-6.258%2078.885-17.747l.132-.054.132-.052c3.2-1.95%207.47-3.65%2011.486-6.087%202.003-1.317%203.94-2.74%205.612-4.678%201.66-1.87%203.003-4.204%203.767-6.997.304-1.252.462-2.45.462-3.584%200-2.267-.567-4.428-1.49-6.378-1.373-2.844-3.585-5.215-6.168-6.928zm20.473-82.5c1.318%203.372%201.91%206.89%201.91%2010.354%200%206.942-2.41%2013.78-6.455%2019.287-3.992%205.468-9.657%209.67-16.323%2011.555l-.146.053h-.09c-3.11%201.08-6.326%201.594-9.488%201.594-7.457%200-14.756-2.677-20.605-7.274-5.797-4.56-10.197-11.093-11.567-18.84h-.012l-.014-.105-.026-.064h.026c-.435-1.99-.658-3.98-.658-5.97%200-6.718%202.292-13.2%206.073-18.496%203.766-5.342%209.075-9.55%2015.294-11.712h.093c3.518-1.31%207.232-1.99%2010.896-1.99%206.692%200%2013.28%202.043%2018.84%205.745%205.48%203.637%209.934%208.985%2012.173%2015.65l.053.106.04.103h-.016z%22%2F%3E%3C%2Fsvg%3E");
}
share-button .sb-social li[class*='twitter'] {
  background: #6cdfea;
}
share-button .sb-social li[class*='twitter']:before {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2020%2020%22%20style%3D%22fill%3A%23fff%3B%22%20height%3D%22%22%20width%3D%22%22%3E%20%3Cpath%20d%3D%22M17.316%206.246c.008.162.01.326.01.488%200%204.99-3.796%2010.742-10.74%2010.742-2.132%200-4.115-.625-5.786-1.697.296.033.596.05.9.05%201.77%200%203.397-.603%204.688-1.614-1.65-.03-3.046-1.12-3.526-2.62.23.042.467.065.71.065.345%200%20.68-.044.995-.13C2.84%2011.18%201.54%209.658%201.54%207.828V7.78c.508.284%201.09.454%201.71.474-1.014-.678-1.68-1.832-1.68-3.143%200-.69.185-1.34.51-1.896C3.943%205.498%206.726%207%209.863%207.158c-.064-.277-.097-.564-.097-.86%200-2.085%201.69-3.774%203.774-3.774%201.085%200%202.066.457%202.755%201.19.86-.17%201.667-.483%202.397-.915-.282.88-.88%201.62-1.66%202.086.764-.092%201.49-.293%202.168-.594-.506.758-1.146%201.422-1.884%201.953z%22%2F%3E%3C%2Fsvg%3E");
}
share-button .sb-social li[class*='twitter']:after {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2020%2020%22%20style%3D%22fill%3A%23000%3B%22%20height%3D%22%22%20width%3D%22%22%3E%20%3Cpath%20d%3D%22M17.316%206.246c.008.162.01.326.01.488%200%204.99-3.796%2010.742-10.74%2010.742-2.132%200-4.115-.625-5.786-1.697.296.033.596.05.9.05%201.77%200%203.397-.603%204.688-1.614-1.65-.03-3.046-1.12-3.526-2.62.23.042.467.065.71.065.345%200%20.68-.044.995-.13C2.84%2011.18%201.54%209.658%201.54%207.828V7.78c.508.284%201.09.454%201.71.474-1.014-.678-1.68-1.832-1.68-3.143%200-.69.185-1.34.51-1.896C3.943%205.498%206.726%207%209.863%207.158c-.064-.277-.097-.564-.097-.86%200-2.085%201.69-3.774%203.774-3.774%201.085%200%202.066.457%202.755%201.19.86-.17%201.667-.483%202.397-.915-.282.88-.88%201.62-1.66%202.086.764-.092%201.49-.293%202.168-.594-.506.758-1.146%201.422-1.884%201.953z%22%2F%3E%3C%2Fsvg%3E");
}
share-button .sb-social li[class*='whatsapp'] {
  background: #4dc247;
}
share-button .sb-social li[class*='whatsapp']:before {
  background-image: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2087%2088%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20style%3D%22fill%3A%23fff%3B%22%20height%3D%22%22%20width%3D%22%22%3E%20%3Cpath%20d%3D%22M61.623%2051.83c-.94-.515-5.562-3.01-6.428-3.363-.867-.35-1.5-.535-2.173.4-.675.934-2.593%203.023-3.175%203.642-.583.615-1.144.672-2.084.16-.94-.516-3.99-1.646-7.525-5.045-2.752-2.645-4.557-5.854-5.08-6.834-.526-.977-.005-1.477.493-1.936.45-.413%201-1.084%201.5-1.625.5-.54.678-.934%201.02-1.563.343-.625.204-1.19-.017-1.678-.222-.49-1.962-5.276-2.687-7.223-.725-1.946-1.537-1.657-2.095-1.678-.557-.023-1.194-.126-1.833-.15-.637-.024-1.684.176-2.6%201.104-.912.922-3.474%203.147-3.65%207.862-.174%204.713%203.084%209.395%203.538%2010.05.456.658%206.23%2010.875%2015.823%2015.075%209.596%204.2%209.645%202.92%2011.406%202.826%201.763-.09%205.756-2.104%206.638-4.31.884-2.205.955-4.125.73-4.532-.225-.408-.855-.673-1.794-1.188m-17.6%2022.714c-6.345%200-12.253-1.903-17.187-5.163L14.84%2073.22l3.902-11.6C15%2056.466%2012.79%2050.137%2012.79%2043.3c0-17.226%2014.014-31.24%2031.24-31.24%2017.224%200%2031.24%2014.012%2031.24%2031.24%200%2017.226-14.016%2031.24-31.24%2031.24M6.5%2043.3c0%207.09%201.968%2013.72%205.384%2019.38L5.11%2082.808l20.78-6.65c5.375%202.972%2011.558%204.667%2018.137%204.667%2020.725%200%2037.528-16.802%2037.528-37.525%200-20.727-16.804-37.528-37.53-37.528-20.723%200-37.523%2016.8-37.523%2037.527z%22%2F%3E%3C%2Fsvg%3E");
}
share-button .sb-social li[class*='whatsapp']:after {
  background-image: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2087%2088%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20style%3D%22fill%3A%23000%3B%22%20height%3D%22%22%20width%3D%22%22%3E%20%3Cpath%20d%3D%22M61.623%2051.83c-.94-.515-5.562-3.01-6.428-3.363-.867-.35-1.5-.535-2.173.4-.675.934-2.593%203.023-3.175%203.642-.583.615-1.144.672-2.084.16-.94-.516-3.99-1.646-7.525-5.045-2.752-2.645-4.557-5.854-5.08-6.834-.526-.977-.005-1.477.493-1.936.45-.413%201-1.084%201.5-1.625.5-.54.678-.934%201.02-1.563.343-.625.204-1.19-.017-1.678-.222-.49-1.962-5.276-2.687-7.223-.725-1.946-1.537-1.657-2.095-1.678-.557-.023-1.194-.126-1.833-.15-.637-.024-1.684.176-2.6%201.104-.912.922-3.474%203.147-3.65%207.862-.174%204.713%203.084%209.395%203.538%2010.05.456.658%206.23%2010.875%2015.823%2015.075%209.596%204.2%209.645%202.92%2011.406%202.826%201.763-.09%205.756-2.104%206.638-4.31.884-2.205.955-4.125.73-4.532-.225-.408-.855-.673-1.794-1.188m-17.6%2022.714c-6.345%200-12.253-1.903-17.187-5.163L14.84%2073.22l3.902-11.6C15%2056.466%2012.79%2050.137%2012.79%2043.3c0-17.226%2014.014-31.24%2031.24-31.24%2017.224%200%2031.24%2014.012%2031.24%2031.24%200%2017.226-14.016%2031.24-31.24%2031.24M6.5%2043.3c0%207.09%201.968%2013.72%205.384%2019.38L5.11%2082.808l20.78-6.65c5.375%202.972%2011.558%204.667%2018.137%204.667%2020.725%200%2037.528-16.802%2037.528-37.525%200-20.727-16.804-37.528-37.53-37.528-20.723%200-37.523%2016.8-37.523%2037.527z%22%2F%3E%3C%2Fsvg%3E");
}


/**
 * Solves the issues with SVG as a background image,
 * that doesn't display on Chrome 50 and IE latest.
 * This way it works on Chrome, Firefox, Safari and IE latest.
 *
 * https://github.com/carrot/share-button/issues/301
 */
 share-button .sb-social li[class*='pinterest']:after {
    background-image: url('../images/pinterest.svg');
}
share-button .sb-social li[class*='pinterest']:before {
    background-image: url('../images/pinterest-light.svg');
}

share-button .sb-social li[class*='twitter']:after {
    background-image: url('../images/twitter.svg');
}

share-button .sb-social li[class*='twitter']:before {
    background-image: url('../images/twitter-light.svg');
}

share-button .sb-social li[class*='facebook']:after {
    background-image: url('../images/facebook.svg');
}
share-button .sb-social li[class*='facebook']:before {
    background-image: url('../images/facebook-light.svg');
}

share-button .sb-social li[class*='googlePlus']:after {
    background-image: url('../images/googlePlus.svg');
}
share-button .sb-social li[class*='googlePlus']:before {
    background-image: url('../images/googlePlus-light.svg');
}

share-button .sb-social li[class*='email']:after {
    background-image: url('../images/email.svg');
}
share-button .sb-social li[class*='email']:before {
    background-image: url('../images/email-light.svg');
}

share-button .sb-social li[class*='linkedin']:after {
    background-image: url('../images/linkedin.svg');
}
share-button .sb-social li[class*='linkedin']:before {
    background-image: url('../images/linkedin-light.svg');
}

#share-button-product {
    background-color: white;
    color: white;
    margin: 40px;
}

#share-button-product .sb-social.sb-top.sb-center {
    display: block;
    top: 40px;
    visibility: visible;
    opacity: 1;
}