// Prev-next arrows
.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    border: none;
    background-color: transparent;
    color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
}
.slick-prev {
    left: 20px;
    &:after {
        content: ' ';
        background-image: url('../svg/arrow.svg.php');
    }
}
.slick-next {
    right: 20px;
    transform: scaleX(-1) translateY(-50%);
}

// Slide Indicator Dots
.slick-dots {
    width: 100%;
    position: absolute;
    padding: 0;
    margin: 0;
    list-style: none;
    bottom: 0;
    right: 0;
    text-align: center;
    padding: 20px;

    li {
        display: inline-block;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        margin-right: 5px;
        overflow: hidden;
        border: 2px solid $color-bg;

        button {
            border: none;
            display: block;
            width: 100%;
            height: 100%;
            color: transparent;
            background-color: $color-secondary;
        }
    }

    .slick-active button {
        background-color: $color-primary;
    }
}

// Slide Overlay
.slide--overlay {
    display: none;
}

@include below(599px) {
    .slide {
        position: relative;
    }
    .slide--overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        display: block;
    }
    .slide--light .slide--overlay {
        background-color: rgba($color-bg, .5);
    }
    .slide--dark .slide--overlay {
        background-color: rgba(#000, .5);
    }
    .slide-content {
        position: relative;
        z-index: 5;
    }
    .slide-content h2.slide-title {
        font-size: 1.5rem;
    }
    .slide-content p {
        font-size: 1.1rem;
    }
}

// Slide Styles
.slide {
    height: 500px;
    background-size: cover;
    background-position: top center;
    position: relative;

    @include above(600px) {
        height: 700px;
    }
}

// Gross nested hackjob of slide content styling
.slide-content {
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;

    > *:first-child {
        margin-top: 0;
    }
    > *:last-child {
        margin-bottom: 0;
    }

    hr {
        max-width: 200px;
        height: 1px;
        margin: 40px auto;
        border: none;
    }
}

// Light color scheme
.slide--light .slide-content {
    .slide-copy p,
    h2.slide-title {
        color: $color-text !important;
        text-shadow: 0 0 10px $color-bg;
    }
    hr {
        background-color: $color-text;
    }
    .btn--alt {
        background-color: $color-primary;
        color: $color-bg !important;
    }
}

// Dark color scheme
.slide--dark .slide-content {
    .slide-copy p,
    h2.slide-title {
        color: $color-bg;
        text-shadow: 0 0 10px $color-text;
    }
    hr {
        background-color: $color-bg;
    }
}

.slide-title {
    font-size: 2.4rem;
}

.slide-copy {
    font-family: 'Cardo';
    font-size: 1.2rem;
}


// Slide content positioning
.slide--right {
    right: 0;
}

.slide--left {
    left: 0;
}

.slide--center {
    left: 0;
    right: 0;
}


// Slider
.slider {
    margin-bottom: 10px;
}