.share-title {
  display: inline-block;
  margin: 0;
}
.social-icons {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  .social {
    display: inline-block;
    margin-left: .5em;
    &:first-child { margin: 0; }
  }
  svg {
    height: 22px;
    width: 22px;
    padding: 5px;
    border-radius: 200px;
    background-color: $color-secondary;
  }
  .social__text { display: none; }
}