.touch-controls {
    font-family: 'Montserrat';
    z-index: 4;
    will-change: transform;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    @include big-shadow(top);

    @include above(600px) {
        display: none;
    }
}

.touch-controls__list {
    background-color: $color-bg;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    li {
        flex-grow: 1;
        text-align: center;
        a {
            color: $color-primary;
            &:focus {
                color: $color-text;
            }
        }
    }
}

.touch-search {

    &.js-active {
        display: block;
    }

    display: none;
    background-color: $color-primary;
    z-index: 5;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    padding: 10px 20px;
    label {
        float: left;
        width: 70%;
    }
    input[type="search"] {
        width: 100%;
        padding: 10px;
    }
    .search-submit {
        width: 30%;
        height:43.5px;
        font-size: 12px;
        background-color: darken($color-primary, 20%);
        border: 1px solid darken($color-primary, 20%);
        color: $color-bg;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}

.mobile-nav-wrap {
    display: none;
    overflow: scroll;

    .js-mobile-nav-active & {
        display: block;
    }

    font-family: 'Montserrat';
    position: fixed;
    top: 0;
    height: calc(100% - 55px);
    background-color: rgba($color-primary, .95);
    width: 100%;
    z-index: 3;
}

.mobile-nav {
    text-align: center;
    padding: 0;
    margin: 0;
    .sub-menu {
        display: none;
    }
    .menu-item {
        list-style: none;

        a {
            text-transform: uppercase;
            font-weight: 100;
            letter-spacing: 2px;
            padding: 35px;
            font-size: 25px;
            color: $color-bg;
            display: block;
            border-bottom: 1px solid rgba(255,255,255,.2);
        }
    }
}

// Body when mobile nav is open
.js-mobile-nav-active {
    overflow: hidden;
}

.touch-link {
    width: 100%;
    display: block;
    svg {
        fill: $color-primary;
        background-color: transparent;
        height: 55px;
        width: 55px;
        padding: 10px;
    }
    &:hover, &.js-active {
        background-color: $color-primary;
        svg {
            fill: $color-bg;
        }
    }
}