// Search Bar
.site-search {
  float: right;

  input {
    border-radius: 20px;
    border: 1px solid $color-primary;
    background-color: white;
    color: $color-primary;
    padding: 0 10px;
  }
}

.designer-products {
  max-width: 1400px;
  margin: 0 auto;
  height: auto;

  .attachment-shop_catalog {
    display: block;
    margin: 0 auto;
  }

  .product {
    margin: 0 auto;
    list-style: none;
    position: relative;

    @include above(600px) {
      width: calc(50% - 25px);
      float: left;
      margin-right: 20px;
      margin-bottom: 20px;
    }

    @include above(900px) {
      width: calc(33.33% - 25px);
    }

    @include above(1200px) {
      width: calc(20% - 25px);
    }
  }
}


.product-grid-item {
  position: relative;
  width: 50%;
  float: left;

  @include above(700px) {
    width: 33%;
  }

  @include above(900px) {
    width: 20%;
  }

  img {
    padding: 20px;
  }

}


.product-grid-meta {
  transition: .2s all ease-in;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba($color-primary, .8);
  text-transform: uppercase;
  color: white;

    // If immediate parent is hovered
    *:hover > & {
      opacity: 1;
      visibility: visible;
    }

  }

  .product-grid-meta__inner {
    color: white;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 100%;
    text-align: center;
    padding:.5rem;

    * {
      color: white;
    }

    .add_to_cart_button {
        display: block;
    }

  }

  .product-grid-meta-title {
    color: white;
    font-size: 14px;
    text-align: center;
  }


  .border-row {
    @include cf();
    border-top: 1px solid darken($color-border, 25%);
    margin-top: 20px;
    padding-top: 25px;
    margin-bottom: 20px;
  }

.add_to_cart_button,
.ajax_add_to_cart {
    font-weight: 700 !important;
    border-radius: .5px !important;
    background-color: #fff !important;
    padding: 1em 2em !important;
    color: #0982C8 !important;
    font-style: normal !important;
    font-family: Montserrat !important;
    text-transform: uppercase !important;
    letter-spacing: 3px !important;
    font-size: .8rem !important;
    text-align: center !important;
    margin-top: 1rem !important;
}

// Archive Product Styles
.archive {

  h1.page-title {
    font-size: 25px;
    line-height: 1;
    margin-bottom: 0;
  }

  .product {
    text-align: center;
  }
  .woocommerce ul.products li.product h3 {
    text-align: center;
    color: white;
  }
}

.woocommerce-result-count {
  font-style: italic;
}

.view-more {
  float: right;
  margin: 0;
}

.products-title {
  float: left;
}

.products-header {
  @include cf();
  width: 100%;
}

.archive .page-title.h1, .archive h1.page-title {
  margin-top: 25px;
}

body .price {
  font-family: 'Montserrat' !important;
  color: white !important;
  font-size: 14px !important;
  letter-spacing: 2px !important;
}

.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
  max-width: 400px;
  margin: 0 auto;
  width: 100%;
}

.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
  float: left;
  width: 100%;

  @include above(900px) {
    width: calc(100% - 400px);
  }

  @include above(1100px) {
    width: calc(100% - 700px);
  }
}

.single-product-sidebar {
  float: left;
  margin-top: 60px;
  margin-bottom: 20px;
  width: 100%;

  @include above(1100px) {
    width: 300px;
  }
}

.single-product-widget {
  background-color: $color-primary;
  margin-bottom: 2px;
  float: left;
  margin-right: 2px;
  width: 100%;

  @include above(600px) {
    width: calc(50% - 2px);
  }

  @include above(1100px) {
    @include cf();
    width: 300px;
    margin-right: 0;
    float: none;
  }

  a {
    @include cf();
    padding: 20px;
    display: block;
    display: flex;
    align-items: center;
    transition: .2s all ease-in;

    &:hover {
      background-color: darken($color-primary, 20%);
    }
  }

  svg {
    float: left;
    background-color: transparent;
    width: 50px;
    height: 50px;
    margin-right: 25px;
  }

  h3 {
    color: white;
    float: left;
    width: calc(100% - 75px);
    font-size: 14px;
  }
}

.yit-wcan-container {
  clear: both;
  @include cf();
}

.related.products {
  border-top: 1px solid $color-border;
  padding-top: 40px;
  @include cf();
  text-align: center;
  width: 100%;
}

.summary .price {
  color: $color-primary !important;
  font-size: 30px !important;
}

.quantity-label, .size_select span {
  margin-right: 20px;
  font-weight: bold;
}

.size_select span {
  margin-right:50px;
}

.ring_size {
  margin-bottom:1rem;
  text-align:center;
  .input_size {
    margin-left:2rem;
  }
}

.single_variation_wrap {
  clear: both;
  padding-top: 20px;
  display: block;
}

.product-deets {
  @include cf();
  background-color: $color-border;
  padding: 20px;
  max-width: 440px;
  width: 100%;
}



// Product Grid
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  float: none;
  clear: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 25% !important;
  h3 {
    font-size:1.4rem;
  }
}
.products {
  display: flex;
  flex-wrap: wrap;
}

// filter bar
.woof_sid_ttg_filters {
  padding:10px;
  margin-bottom: 15px;
  background-color: $color-border;
  border-bottom: 1px solid $color-bg-dark;
  width: 100%;
  border-radius: 0;

  select {
    background-color: #dcdcdc;
    border: none;
    border-radius: 0;
    color: $color-text !important;
  }

  .woof_block_html_items, h4 {
    float: left;
    margin: 0 !important;
    line-height: 40px;
    margin-right: 25px !important;
  }
  h4 {
    margin-right: 20px !important;
  }
}

.woof_redraw_zone {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  &:before {
    content: "Filter By:";
    font-weight: bold;
    font-family: 'Montserrat';
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 40px;
    color: $color-text ;
  }

  > div:empty {
    display: none;
  }
}

.chosen-container {
  max-width:210px !important;
 
}

.chosen-container-single .chosen-single {
  color:#fff !important;
  background: $color-secondary !important;
}

.woof_container {
  flex: 1;
  padding: 0;
  margin: 0;
}

.woof_container_inner {
    @include cf();
    flex: 1;
     justify-content: flex-start;
     display: flex;
     flex-wrap: wrap;
}

.woof_submit_search_form_container {
  .woof_reset_search_form {
    background-color: $color-primary !important;
  }
}

.price_slider_wrapper {
  margin-top: 20px;
  width: 180px;
  max-width: 100%;
}

.ui-slider-range {
  background-color: $color-primary !important;
}

.ui-slider-handle {
  background-color: darken($color-primary, 5%) !important;
  border: none !important;
  transition: transform .1s ease-in;
  &.ui-state-hover {
    opacity: .8;
    transform: scale(1.2);
  }
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
  background-color: $color-secondary;
}

.woof_reset_search_form {
  background-color: $color-text !important;
  color: white !important;
  font-size: 12px !important;
  font-weight: 100 !important;
  margin-left: 20px !important;
  margin-top: 4.7px !important;
}

.chosen-container-single {

  .chosen-single {
    padding: 10px 20px;
    border-radius: 0 !important;
    border: none !important;
    height: auto;
    font-size: 12px;
    font-family:'Montserrat', sans-serif !important;
    font-weight:400;
    text-transform:capitalize;
    letter-spacing:1px;
    box-shadow:none !important;

    div b {
      display:none;
    }
  }
}

.woof_price_search_container {
  display: none;
}

.stock {
  display: none !important;
}

.woocommerce .woocommerce-ordering {
    margin: 0 !important;
    float:none !important;
}
.woocommerce .woocommerce-ordering select {
    vertical-align: initial;
}

option[disabled] {
    display: none;
}

#sorterWrap {
    margin-left: auto;
}

p.woocommerce-result-count {
  display:inline-block !important;
  max-width:200px !important;
  margin-right:20px !important;
}

form.woocommerce-ordering {
  display: inline-block;
  max-width: 200px;
  float: left;
}

// Add to Cart

button.single_add_to_cart_button {
  background:#0982C8 !important;
  border-radius:0px !important;
  display:inline-block !important;
  margin-left:1rem !important;
  transition:.2s all ease-in;
}

button.single_add_to_cart_button:hover {
  background: #054366 !important;
}

.woocommerce .woocommerce-message, .woocommerce .woocommerce-error {
  border-top:none !important;

  &:before {
    color:#0982C8;
  }

  a.button {
    background:#0982C8 !important;
    border-radius:0px !important;
    color:#fff !important;
  }
}

.woocommerce .woocommerce-error {
  &:before {
    color:#b81c23;
  }
}

.woocommerce .quantity .qty {
  padding:.25rem 0;
}

.woocommerce input.button {
  border:none !important;
}

.woocommerce-page .cart-collaterals .cart_totals {
  margin-top:1rem !important;
}

.woocommerce-page .cart-collaterals {
  float:none !important;
}

table.shop_table {
  width:100% !important;
}

.woocommerce-cart table.cart td {
  text-align:center;

  a.remove {
    background:#0982C8;
    color:#fff;
    padding:.25rem .5rem;
  }
}

.coupon input[type="text"] {
  border:solid thin #ccc;
  max-width:300px;
  margin-top:1rem;
}

.coupon input.button {
  vertical-align:top;
  display:inline-block;
  margin-left:1rem;
  border:0;
}

.woocommerce-cart tr td {
  border-bottom:solid thin #ccc;
  padding:1rem;
}

input[name="update_cart"] {
  border:0 !important;
}

.woocommerce-cart table.cart input[type="number"] {
  width:45px;
}

.woocomerece-cart table.cart img {
  width:auto !important;
}

p input.button {
  border:0 !important;
}

.woocommerce-page form .form-row .input-text {
  border:solid thin #ccc;
  height:35px;
}

p.demo_store {
    position: absolute;
    background-color: $color-primary;
}

form.cart {
    display:block;
}

td.product-thumbnail {
    width: 200px !important;
    max-width: 100%;

    img {
        width:  100% !important;
    }
}

.coupon, .update {
    width:50%;
    display:inline-block;
    float:left;
}

.update {
  text-align:right;
}

span.posted_in {
    display: block;
}

.product_meta {
    border-top: 1px solid #dadada;
    float: left;
    padding-top: 20px;
}

.woocommerce-page .cart-collaterals .cart_totals {
  float:none !important;
  margin:2rem auto;
  padding:2rem 0 0 0;
}


// Product Cart in header

.cart-account {
  text-align:right !important;
}

.cart-contents, .account { 
  display:inline-block;

  span { 
    text-transform:uppercase; 
    letter-spacing:1px;
  }
  svg {
    background:transparent;
    width:30px;
    height:30px;
  }

}

.cart-contents {
  a.total {
    color:#fff !important;
    width:25px;
    height:25px;
    background:#0982C8;
    display:inline-block;
    margin-left:.1rem;
    border-radius:50%;
    text-align:center;
}

}

.account {
  &:after {
    content: "•";
    width:30px;
    height:30px;
    display:inline-block;
    text-align:center;
  }
}

.cart-contents:hover {text-decoration: none}

// Checkout page
#order_review_heading {
  margin-top:1rem;
}

#customer_details {
  padding:2rem 0;
  border-top:solid thin #ccc;
}

.woocommerce-checkout-review-order-table {

  th.product-name, th.product-total {
    text-align:left;
  }

  td.product-name, td.product-total {
    padding:1rem;
    border-bottom:solid thin #ccc;
  }

  tfoot {
    tr.cart-subtotal td, tr.order-total td {
      padding:1rem;
    }
  }
}

div#payment {
  background:transparent;
  border-top:solid thin #ccc;
  ul.wc_payment_methods {
    li {
      padding:1rem 0;
      border-bottom:solid thin #ccc;
    }
  }

}

input#place_order {
  border:0px;
}

.woocommerce-billing-fields {
  input[type="text"] {
    padding-top:0px !important;
  }
}

.input_size {
  width: 3.631em;
}

.product-grid-meta__inner {
  .btn {
    display:block;
  }

  .btn--half {
    display:block !important;
    background:#fff !important;
    color:#0982C8 !important;
    font-size:.7rem;
    margin:.25rem auto;
    width:80%;

  }
}

// account dashboard

.woocommerce-account {

  nav.woocommerce-MyAccount-navigation {
    display:block;
    float:none !important;
    width:100% !important;

    ul {
      list-style:none;
      text-align:center;
      border-top:solid thin $color-border;
      border-bottom:solid thin $color-border;
      li {
        display:inline-block;
        padding:1rem 2rem;
      }
    }
  }
  
  .woocommerce-MyAccount-content {
    float:none;
    width:100%;
    padding:1rem 0;
  }

}