.entry-content {
	overflow: auto;
}

// Blog listing
.blog,
.single-post {

	.flexible {
		align-items: flex-start;
	}

    #breadcrumbs .inner {
		border: none;
	}

    .main {
		flex-basis: 75%;
		padding: 0;
		order: 2;
	}

    .site-sidebar {
		flex-basis: 24.5%;
		margin-right: 15px;
		order: 1;
		border-right: 1px solid $color-bg-light;
		padding: 15px 15px 15px 0;
	}
	.featured-image img {
		width: 100%;
		height: auto;
		max-height: 100%;
	}
	.featured img, .site-sidebar img {
		width: 100%;
	}
}

.main header:after {
	content: '';
	display: block;
	height: 1px;
	width: 25%;
	background-color: $color-text;
	margin: 10px 0 20px;
}

// Single
.single {
	h1 {
		margin-bottom: 0;
	}
}

// Excerpt
.excerpt {
    // max-height: 280px;
	display: flex;
	flex-direction: row;
	justify-content: start;
	margin: 30px 0;
  padding-top: 30px;
	overflow: hidden;
  border-top: 1px solid $color-border;

    &:first-child {
		margin-top: 0;
	}

    .featured {
		flex-basis: 65%;
		margin: 0 15px 0 0;
	}

    .content {
		flex-basis: 35%;
	}

    &:nth-of-type(even) {
		.featured {
			order: 2;
			text-align: right;
			margin: 0 0 0 15px;
		}
	}

	h2 {
		margin: 0;
	}

    .meta, .share {
		display: block;
	}
}

// Meta
.meta {
	font-style: italic;
	font-size: .8rem;
	display: flex;
	justify-content: space-between;
}

.categories {
	display: inline-block;

    &:before {
		content: '\2022';
		padding-right: .4em;
	}
}

// Navigation
.posts-navigation {
	padding-bottom: 15px;
	overflow: auto;
}

.nav-previous {
	float: left;

    a:before {
		content: '< ';
	}
}

.nav-next {
	float: right;

    a:after {
		content: ' >';
	}
}

.nav-links a {
	font-family: 'Montserrat';
	text-transform: uppercase;
	letter-spacing: 2px;
	color: lighten($color-text, 50%);
}

// Commenting
#comments {
	padding-top: 2em;
}
.comment-list {
	padding: 0;
	list-style-type: none;
	img { display: none; }
}
.comment-author {
	font-family: 'Montserrat';
	text-transform: uppercase;
}
.comment-metadata {
	font-style: italic;
}
.comment-reply-link {
	background-color: $color-text;
	color: $color-bg;
	padding: .5em 1em;
	font-family: 'Montserrat';
	text-transform: uppercase;
	margin-top: 1em;
	display: inline-block;

    &:hover {
        color: $color-bg;
    }
}

.leave-comment {
	display: flex;
	margin-bottom: $gutter;
	margin-top: 2em;
}

.leave-comment .navigation {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 40%;

    .block-previous, .block-next {
		flex-direction: column;
		display: flex;
		justify-content: center;
		flex: 1;
		width: 100%;
		padding: 10px;
	}

    .block-previous {
		text-align: left;
	}

    .block-next {
		border-top: 1px solid $color-bg-alt;
		text-align: right;
	}

    a {
		font-family: 'Montserrat';
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 1.3rem;
		display: block;
	}

    .instruction {
		color: $color-primary;
		font-style: italic;
	}
}

#respond {
	background-color: $color-primary;
	padding: 15px;
	width: 60%;
	color: $color-bg;

    a {
		color: $color-bg;
	}

    h3 {
		color: $color-bg;
		&:after {
			content: '';
			display: block;
			height: 1px;
			width: 25%;
			background-color: $color-bg;
			margin: 10px 0;
		}
	}

    label {
        display: block;
    }

    input, textarea {
		padding: 10px !important;
		width: 100%;
		border: 1px solid $color-bg;
	}

    textarea {
		max-height: 100px;
	}

    input:not([type=submit]), textarea {
		background-color: transparent;
		color: $color-bg;
		font-style: italic;
	}

    input[type=submit] {
		background-color: $color-bg;
		color: $color-primary;
		font-family: 'Montserrat';
		text-transform: uppercase;
		letter-spacing: 2px;
        max-width: 200px;
	}
}

@include below(900px) {

    .flexible,
    .site-sidebar,
    .main,
    .excerpt .content,
    .excerpt,
    .excerpt .featured,
    .leave-comment,
    #respond, .navigation,
    #comments,
    .meta,
    .share {
		width: 100%;
		display: block;
		padding: 0;
	}

    .featured {
		text-align: center !important;
		margin: 0 !important;
	}

    .flexible {
		padding: 0 15px;
	}

    .site-sidebar {
		border-top: 1px solid $color-bg-alt;
	}

    .excerpt {
		margin: 30px 0;
	}

    #respond {
		padding: 15px;
	}
}