.designer {
	display: flex;
	padding: $gutter 0;
}

.designer-featured,
.designer-content {
	width: 50%;
}

.designer-featured {
	align-items: center;
	padding-right: 15px;
}

.designer-imagery {
	display: flex;
}

.designer-logo {
	overflow: hidden;
	flex: 1;
	padding-right: 15px;
	padding-top: 10px;
	width: 50%;

    img {
        max-width: 350px;
    }

    h1 {
		text-indent: -9999em;
		height: 0;
		margin: 0;
	}

    &:after {
		content: '';
		display: block;
		height: 1px;
		width: 25%;
		background-color: $color-text;
		margin: 10px 0;
	}
}

.designer-cert {
	width: 50%;
	display: flex;
	align-items: center;

    .certs {
		flex-basis: content;
	}
}

@include below(600px) {

    .designer,
    .designer-imagery,
    .designer-featured,
    .designer-content,
    .designer-logo,
    .designer-cert {
		display: block;
		width: 100%;
		padding: 0;
	}

	.page-template-page-designers .designers img {
		width: 100%;
	}
}