/**
 * Montserrat
 * for Headings, buttons
 */
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-black-webfont.woff2') format('woff2'),
  url('../fonts/montserrat-black-webfont.woff') format('woff'),
  url('../fonts/montserrat-black-webfont.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;

}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
  url('../fonts/montserrat-bold-webfont.woff') format('woff'),
  url('../fonts/montserrat-bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;

}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-extrabold-webfont.woff2') format('woff2'),
  url('../fonts/montserrat-extrabold-webfont.woff') format('woff'),
  url('../fonts/montserrat-extrabold-webfont.ttf') format('truetype');
  font-weight: extrabold;
  font-style: normal;

}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-hairline-webfont.woff2') format('woff2'),
  url('../fonts/montserrat-hairline-webfont.woff') format('woff'),
  url('../fonts/montserrat-hairline-webfont.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;

}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-light-webfont.woff2') format('woff2'),
  url('../fonts/montserrat-light-webfont.woff') format('woff'),
  url('../fonts/montserrat-light-webfont.ttf') format('truetype');
  font-weight: light;
  font-style: normal;

}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
  url('../fonts/montserrat-regular-webfont.woff') format('woff'),
  url('../fonts/montserrat-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-semibold-webfont.woff2') format('woff2'),
  url('../fonts/montserrat-semibold-webfont.woff') format('woff'),
  url('../fonts/montserrat-semibold-webfont.ttf') format('truetype');
  font-weight: semibold;
  font-style: normal;

}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-ultralight-webfont.woff2') format('woff2'),
  url('../fonts/montserrat-ultralight-webfont.woff') format('woff'),
  url('../fonts/montserrat-ultralight-webfont.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;

}

/**
 * Cardo
 * Used for body typeface
 */
@font-face {
  font-family: 'Cardo';
  src: url('../fonts/cardo104s-webfont.woff2') format('woff2'),
  url('../fonts/cardo104s-webfont.woff') format('woff'),
  url('../fonts/cardo104s-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'Cardo';
  src: url('../fonts/cardob101-webfont.woff2') format('woff2'),
  url('../fonts/cardob101-webfont.woff') format('woff'),
  url('../fonts/cardob101-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cardo';
  src: url('../fonts/cardoi99-webfont.woff2') format('woff2'),
  url('../fonts/cardoi99-webfont.woff') format('woff'),
  url('../fonts/cardoi99-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}