/**
* Global Site Footer
* templates/footer.php
*/
.site-footer {
    @include cf();
    text-align: center;
    // max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

// Container For `.footer__inner`s
.footer-widgets {
    border-top: 1px solid $color-bg-alt;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1400px;
    margin: 0 auto;

    @include above(600px) {
        justify-content: space-between;
    }
    width: 100%;
}

// Footer Subsections styled like widgets
.footer__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    border-right: 1px solid $color-bg-alt;
    padding: 0 20px;
    padding-bottom: 20px;

    &:last-of-type {
        border-right: none;
    }

    @include below(600px) {
        border-top: 1px solid $color-bg-alt;
    }

    ol, ul {
        padding: 0;
        margin: 0;
        font-size: .8rem;
        list-style: none;
        line-height: 1.7;
    }

    .certifications li {
        float: left;

        @include below(1000px) {
            width: 100%;
        }

        width: 25%;
        img {
            width: 100%;
        }
    }
}

#footer-nav-1 {
    padding-top: 20px;
}

// Full width bar with copywright meta
.site-footer__banner {
    // margin-top: 20px;
    width: 100%;
    background-color: $color-primary;
    @include cf();
    padding: 2px;
    color: $color-bg;
    a {
        color: $color-bg;
    }
    > * {
        display: block;
    }
}

// Footer Menus
.footer-nav {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    list-style: none;


    .menu-item a {
        padding: 0;
        transition: .2s all ease-in;
        color: $color-text;
        font-size: .8rem;
        &:hover {
            background-color: transparent;
            color: $color-primary;
        }
        &:after {
            color: $color-bg-alt;
            margin-left: 0;
        }
    }

    li {
        width: 50%;
    }

    text-align: left;
    display: flex;
    flex-wrap: wrap;

    @include above(1000px) {
        li {
            width: 50%;
        }
    }

    margin-bottom: 20px;

}


.socalize__form {
    margin-top: 40px;
    input[type="text"] {
        border-color: $color-secondary;
        border-radius: 0;
        padding: 6.5px;
        width: 230px;
        max-width: 64%;
        font-style: italic;
        font-size: .8rem;
    }
}

.certification {
    width: 25%;
    height: auto;
}

.footer__inner--quarter {
    @include above(600px) {
        width: 50%;
    }
    @include above(1000px) {
        width: 25%;
    }
}

.footer__inner--sixth {
    @include above(600px) {
        width: 50%;
    }
    @include above(1000px) {
        width: 16.66666%;
    }
    &:nth-child(5) {
        border-right: none;
    }
}

.footer__inner--two-thirds {
    @include above(600px) {
        width: 50%;
    }
    @include above(1000px) {
        width: 66.66%;
    }

    flex-direction: row;
    border-top: 1px solid $color-bg-alt;
    flex-wrap: wrap;
    h4 {
        width: 100%;
    }
}

.footer__inner--third {
    @include above(600px) {
        width: 50%;
    }
    @include above(1000px) {
        width: 33.33%;
    }
    border-top: 1px solid $color-bg-alt;
    padding-bottom: 20px;
}