form {
    width: 100%;
}

// Ugly
body .gform_wrapper .ginput_complex .ginput_full input[type=email], .gform_wrapper .ginput_complex .ginput_full input[type=number], .gform_wrapper .ginput_complex .ginput_full input[type=password], .gform_wrapper .ginput_complex .ginput_full input[type=tel], .gform_wrapper .ginput_complex .ginput_full input[type=text], .gform_wrapper .ginput_complex .ginput_full input[type=url] {
    width: 100% !important;
}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
::placeholder {
    color: white;
    font-style: italic;
}

::-webkit-input-placeholder {
    color: white;
    padding-left: 3px;
    font-style: italic;
}

.ginput_container.ginput_container_select {
    text-align: right;
}

input[type="text"] {
    padding-top: 20px !important;
    width: 100% !important;
    border: none;
}

select,
option {
    color: black !important;
}

.main .gform_wrapper,
footer .gform_wrapper,
.modal .gform_wrapper {
    margin: 0;
    width: 100%;
    max-width: 100%;

    .gfield,
    .ginput_container_textarea {
        position: relative;
        margin: 0 0 10px !important;
    }

    .top_label li.gfield.gf_middle_third,
    .top_label li.gfield.gf_right_third {
        margin-left: .5%!important;
    }

    .top_label li.gfield.gf_left_third,
    .top_label li.gfield.gf_middle_third,
    .top_label li.gfield.gf_right_third {
        width: 33%;
    }

    .gfield_label.js-active,
    .ginput_complex label.js-active {
        transform: translateY(-100%) scale(.7);
        transform-origin: left;
        font-weight: bold !important;
    }

    span {
        position: relative;
        margin-bottom: 10px !important;

        input {
            width: 100% !important;
        }
    }

    .gfield_label,
    .ginput_complex label {
        font-size: 18px;
        font-style: italic;
        font-weight: normal !important;
        left: 5px;
        margin: 0 !important;
        pointer-events: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition:0.2s ease all;
    }
    .textarea .gfield_label {
        top: 30%;
    }
    .textarea textarea {
        padding: 30px 10px 10px;
    }

    .gform_wrapper {
        width: 100% !important;
        max-width: 100% !important;
        margin: 0 !important;
    }

    .hide-label .gfield_label {
        display: none !important;
    }

    .gform_title {
        color: $color-text;
        font-size: 1.8rem !important;
        margin-top: 0 !important;
    }

    .gform_footer {
        padding: 0;
        margin: 0;

        input.button, input[type=submit] {
            border: none;
            width: 100%;
            font-family: 'Montserrat';
            text-transform: uppercase;
            padding: 10px;

            &:hover {
                opacity: .8;
            }
        }
    }

    input,
    textarea {
        background-color: transparent;
        width: 100% !important;
    }

    .gf_right_half {
        float: right;
    }
}
.gform_footer {
    max-width: 50%;
    display: block;
    margin: 0 auto !important;
}

// Light Coloring
.secondary,
.tertiary,
.text--dark,
.overlay--secondary,
.overlay--tertiary {

    .gform_wrapper {
        input,
        textarea {
            color: $color-bg;
            border: 1px solid $color-bg;
        }

        .gform_footer {
            input.button,
            input[type=submit] {
                background: $color-bg;
                color: $color-primary;
            }
        }
    }
}
// Dark Coloring
.quaternary,
.text--light, .overlay--primary,
.overlay--quaternary {

    .gform_wrapper {
        input,
        textarea {
            color: $color-text;
            border: 1px solid $color-text;
        }

        .gform_footer {
            input.button,
            input[type=submit] {
                background: $color-primary;
                color: $color-bg;
            }
        }
    }
}

// Footer Form
footer .gform_wrapper .gform_footer,
.modal .gform_wrapper .gform_footer {
    input[type=submit] {
        background: $color-primary;
        color: $color-bg;
    }
}

footer .gform_wrapper input {
    border: 1px solid $color-bg-dark;
}

footer .ginput_container {
    margin: 0 !important;
}

@include above(600px) {
    .gf_left_half,
    .gf_right_half {
        width: 49.5% !important;
    }
}

@include below(600px) {
    .gform_wrapper .ginput_complex .ginput_full input[type=email], .gform_wrapper .ginput_complex .ginput_full input[type=number], .gform_wrapper .ginput_complex .ginput_full input[type=password], .gform_wrapper .ginput_complex .ginput_full input[type=tel], .gform_wrapper .ginput_complex .ginput_full input[type=text], .gform_wrapper .ginput_complex .ginput_full input[type=url],
    .gf_left_half,
    .gf_right_half,
    .gf_left_third,
    .gf_middle_third,
    .gf_right_third {
        width: 100% !important;
    }
    body .gform_wrapper label.gfield_label + div.ginput_container {
        margin: 0 !important;
    }
}

// More Hideous Hacks
html body .gform_wrapper form .gform_body .ginput_complex input[type="text"] {
    width: 100% !important;
    margin-bottom: 10px;
}

// Modal Form
.modal .gform_wrapper input {
    border: 1px solid $color-secondary;
}

.gfield_checkbox label {
    margin-left: 40px;
}
.gform_description {
    display: block;
    text-align: center;
}

.main .gform_wrapper .textarea .gfield_label, .modal .gform_wrapper .textarea .gfield_label, footer .gform_wrapper .textarea .gfield_label {
  top: 30px;
}

// Create an account 

#gform_18 {
    


    width:60% !important;

    label {
        top:0px;
    }

    li {
        padding:1rem 0;
        margin-bottom:2rem !important;
    }

    input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]) {
        height:45px;
        padding:0 .5rem;
        border:solid thin $color-border;
        display:inline-block;
        color:$color-text !important;
        padding-top: 0px !important;
    }

    

    .gfield_label_before_complex {
       display:block;
       margin-top:1rem;
      top:-16px;
    }

    #input_18_3, #input_18_3_2 {
        display:inline-block;
        margin-top:1rem;
    }

    #gform_submit_button_18 {
        background-color: $color-primary;
        margin:1rem 0;
    }

    .gform_footer {
        margin:0 !important;
    }

}

// login

#loginform {
    padding:1rem;
    font-family:'Montserrat', sans-serif;

    input[type="text"], input[type="password"] {
        border:solid thin $color-border;
        height:45px;
        padding:0 .5rem;
        display:block;
        width:300px !important;
        padding-top:0px !important;
    }

    input[type="submit"] {
        border-radius:none;
        background:$color-primary;
        width:300px;
        padding:.5rem;
        color:#fff;
        border:none;
    }
}