// Prefer to work with just 1 form of vertical margin for simplicity
* {
  margin-top: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
input[type='submit'],
button {
  transition: opacity 0.5s ease;
}

// Basic link Styling
a {
  color: $color-primary;
  text-decoration: none;
  word-wrap: break-word;

  &:hover {
    color: $color-primary;
    opacity: .8;
  }

  p & {
    font-style: italic;
  }
}

// Basic Headings
h1,
h2,
h3,
h5,
h6 {
  font-family: 'Montserrat';
  font-weight: 400;
  letter-spacing: 4px;
  margin: 0 0 1rem;
  text-transform: uppercase;

  &,
  & a {
    color: $color-text;
    text-decoration: none;
  }
}

h1 {
  color: $color-text;
  margin-top: 1rem;
}

.h1 {
  @extend h1;
}

h4 {
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
}

p {
  line-height: 2em;
}

.text-center {
  text-align: center;
}

.main {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;

  &--full {
    max-width: 100%;
  }

  h1, h2, h3, h4, h5, h6, p, ul, ol, li {

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

body {
  color: $color-text;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: "Cardo";
  min-height: 100vh;

    // Account for mobile touch controls
    @include below(600px) {
      margin-bottom: 55px;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .site-wrapper {
    flex-grow: 1;
    margin: 0 auto;
    width: 100%;
    z-index: 1;
  }

  .flexible {
    display: flex;
    margin: 0 auto;
  }

  .main,
  .page-header {
    @include below(1400px) {
      padding: 0 15px;
    }
  }

  .featured-image img {
    max-width: 100%;
    max-height: 500px;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .gform_button {
    width: auto !important;
    padding: 10px 20px !important;
  }

  .btn,
  .button {
    font-weight: bold;
    border-radius: .5px;
    display: inline-block;
    color: $color-bg;
    padding: 1em 2em;
    background-color: $color-primary;
    font-style: normal;
    font-family: 'Montserrat';
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: .8rem;
    text-align: center;
    margin-top: 1rem;

    p & {
      font-style: normal;
    }

    &:hover {
      color: $color-bg;
    }

    &--alt {
      background-color: $color-bg;
      color: $color-primary !important;
      &:hover { color: $color-primary; }
    }

    &--half {
      font-size:.9rem;
      font-weight:200;
      width:45%;
      display:inline-block;
      &:hover { color: $color-primary; opacity:.8;}
    }

    &--secondary {
      background-color: lighten($color-text, 10%);
      color: #fff;
    }

    &--small {
      padding: 10.5px 10px;
      font-size: .7rem;
    }

    &--xsmall {
      padding: 6px;
      font-size: .7rem;
      min-width: 225px;
    }

    &--large {
      font-size: 16px;
        // width: 50%;
        float: left;
        display: block;
        clear: both;
        margin-top: 20px;
      }

      .site-footer & {
        margin-top: 0;
      }
    }

    .btn + .btn {
      margin-left: 10px;
    }

    .txt {
      font-style: italic;

      &:after {
        content:' \003e';
      }
    }

    svg {
      background-color: currentColor;
      fill: #eee;
      height: 20px;
      padding: 5px;
      vertical-align: middle;
      width: 20px;
    }

    .svg--arrow {
      fill: rgba(25, 131, 197, 0.33);
      height: 250px;
      width: 50px;
    }

    .search-form input {
      padding: 5px 10px;
    }

    .widget {
      margin-bottom: 15px;

      h3 {
        margin-bottom: 0;
      }

      ul {
        padding: 0;
        list-style-type: none;
      }

      li {
        padding: .25em 0;
        border-bottom: 1px solid $color-bg-dark;
      }

      .search-submit {
        font-family: 'Montserrat';
        text-transform: uppercase;
        color: $color-bg;
      }
    }

// Coloring
//====================
.primary {
  background-color: $color-bg;
}
.secondary {
  background-color: $color-text;
}
.tertiary {
  background-color: $color-primary;
}
.quaternary {
  background-color: $color-bg-alt;
}
.overlay {
  &--primary {
    background-color: rgba($color-bg, .8);
  }
  &--secondary {
    background-color: rgba($color-text, .8);
  }
  &--tertiary {
    background-color: rgba($color-primary, .8);
  }
  &--quaternary {
    background-color: rgba($color-bg-alt, .8);
  }
}
.secondary,
.overlay--secondary,
.tertiary,
.overlay--tertiary,
.text--dark {
  * {
    color: $color-bg;
  }
}

.text--dark {
  h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    text-shadow: 0 0 10px $color-text;
  }
}

.text--light {
  h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    text-shadow: 0 0 10px $color-bg;
  }
}

button {
  border: none !important;
}