// Site header
.site-header {
  @include big-shadow(bottom);
  background-color: $color-bg;
  border-top: 4px solid $color-primary;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 2;

  .btn {
    margin: 0;
  }

  a:not(.btn) {
    text-decoration: none;
    color: $color-text;
  }
}

.page-header {
  max-width: 1400px;
  margin: 0 auto;
}

// Top part of header with cta, logo, and phone number
.masthead {
  background-color: $color-bg;
  width: 100%;
}

.masthead-inner {
  max-width: 1400px;
  padding: 15px 10px;
  margin: 0 auto;
  z-index: 3;

  @include above(900px) {
    display: flex;
    align-items: center;
  }
}

.masthead__child {
  display: none;
  font-size: .9rem;

  &:nth-of-type(2) {
    display: block;
  }

  &:last-child .brand-meta {
    text-align: right;
  }

  @include above(900px) {
    display: block;
  }

  @include above(900px) {
    width: 33.33%;

    &:first-of-type {
      text-align: left;
    }
  }
}

.brand {
  img {
    max-width: 190px;
  }
}

.brand-meta {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: block;

        // &:after {
        //     content: '  •';
        // }

        // &:last-of-type:after {
        //     content: '';
        // }
      }
    }
    .search-form {
      input {
        border: 1px solid $color-bg-alt;
        border-radius: 25px;
      }
    }

// Main Navigation
.nav-primary {
    // max-width: 1400px;
    background-color: $color-bg-light;
    border-top: 1px solid $color-bg-alt;
    color: $color-text;
    display: none;
    font-family: 'Montserrat';
    font-size: 1.2rem;
    font-weight: 100;
    margin: 0 auto;
    position: relative;
    width: 100%;

    @include above(600px) {
      display: block;
    }
  }

  .nav .menu-item-has-children span {
    @include below(900px) {
      display: none;
    }
  }

  .nav {
    display: none;
    list-style: none;
    margin: 0 auto;
    max-width: 1400px;
    padding: 0;

    &.js-active {
      display: block;
    }

    @include above(900px) {
      display: flex;
      justify-content: space-around;
    }
  }

  .nav > .menu-item {
    flex-grow: 1;
    text-transform: uppercase;

    > a {
      border-left: 1px solid $color-bg-light;
      border-right: 1px solid $color-bg-light;
      color: inherit;
      display: block;
      font-size: .9rem;
      letter-spacing: 1.5px;
      overflow: hidden;
      padding: 1rem 0;
      position: relative;

      @include below(900px) {
        border-top: 1px solid $color-bg-dark;
      }

      &:hover {
        background-color: $color-bg-dark;
        border-left: 1px solid darken($color-bg-dark, 5%);
        border-right: 1px solid darken($color-bg-dark, 5%);

        &:before {
          border-radius: 50%;
          box-shadow: 0 0 15px darken($color-bg-dark, 10%);
          content: "";
          height: 10px;
          left: 2%;
          position: absolute;
          top: -10px;
          width:100%;
          z-index: 1;
        }
      }

      &:focus:before {
        box-shadow: 0 0 15px darken($color-bg-dark, 20%);
      }
    }
  }

// Menu Word + Hamburger Container
.nav-trigger {
  cursor: pointer;
  display: inline-block;
  font-size: .8em;
  line-height: 1.6;
  padding: 10px;
  text-transform: uppercase;

  @include above(900px) {
    display: none;
  }
}

// Hamburger Icon
.hamburger {
  background: $color-text;
  border-radius: 4px;
  float: right;
  height: 4px;
  margin: 10px 0;
  margin-left: 1em;
  position: relative;
  transition: all .1s ease-in;
  width: 24px;

  &:after,
  &:before {
    background: $color-text;
    border-radius: 4px;
    content: '';
    display: block;
    height: 4px;
    position: absolute;
    transition: all .1s ease-in;
    width: 24px;
  }

  &:before {
    right: 0;
    top: -8px;
    width: 24px;
  }

  &:after {
    right: 0;
    top: 8px;
    width: 24px;
  }
}

.js-closed .hamburger {
  background: transparent;

  &:before,
  &:after {
    top: 0;
  }

  &:before {
    background-color: $color-primary;
    transform: rotate(45deg);
  }

  &:after {
    background-color: $color-primary;
    transform: rotate(-45deg);
  }
}

.dropline {
  background-color: rgba(213, 213, 213, 1);
  left: 0;
  margin: 0 auto;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 100%;
  transition: .15s all ease-in;
  visibility: hidden;
  width: 100%;
  will-change: transform;
  z-index:-1;

  .js-active & {
    @include above(900px) {
      opacity: 1;
      visibility: visible;
    }
  }
}

.dropline-inner {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
}

.dropline__featured {
  height: 200px;
  margin: 20px 0 20px 40px;
  position: relative;
  text-align: left;
  width: 400px;
  z-index: 3;

  img {
    max-height: 100%;
    object-fit: cover;
  }
}

.dropline-menu {
  align-content: flex-start;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  font-family: 'Cardo';
  font-size: .9rem;
  list-style: none;
  padding: 20px 0;
  padding-left: 40px;
  padding-bottom: 80px;
  text-align: left;
  width: calc(100% - 480px);

  li {
    width: 25%;
    margin-bottom: 12px;

    a {
      display: block;
      text-transform: none;
      line-height: 1.2;

      &:hover:after {
        transform: translateX(3px);
      }

      &:after {
        color: $color-primary;
        content: '>';
        display: inline-block;
        margin-left: 5px;
        transition: .2s all ease-in;
      }
    }
  }
}

.dropline-featured-copy {
  background-color: rgba(93, 93, 93, 0.25);
  bottom: 0;
  left: 0;
  padding: 10px;
  position: absolute;
  text-align: right;
  width: 100%;

  * {
    color: $color-text;
    font-size: 1.1rem;
    margin: 0;
  }

  h4 {
    font-family: 'Cardo';
    font-size: .9rem;
    font-style: italic;
    letter-spacing: 0;
    text-transform: initial;

    &:after {
      color: $color-primary;
      content: '>';
      display: inline-block;
      margin-left: 5px;
      transition: .2s all ease-in;
    }
  }

  &:hover h4:after {
    transform: translateX(3px);
  }
}

.dropline-featured-copy-inner {
  margin: 0 auto;
  max-width: 1400px;
  padding-right: 480px;
}

.svg--down-arrow {
  background: transparent;
  fill: currentColor;
  margin-left: 10px;
  perspective: 100%;

  a:hover & {
    fill: $color-primary;
  }
}


// Breadcrumbs
#breadcrumbs .inner {
  border-bottom: 1px solid $color-bg-light;
  font-size: .8rem;
  font-style: italic;
  margin: 0 auto;
  max-width: 1400px;
  padding: 15px 0 10px;
}

.global-callout {
  background-position: center;
  background-size: cover;
  padding: 20px;
  position: relative;

  h2,
  p:last-child {
    margin: 0;
  }

  .overlay {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .content {
    z-index: 5;
    position: relative;
  }

  .cta-link:hover {
    opacity: 1;
  }
}