// Clearfix mixin
@mixin cf() {
  clear: both;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Media Query Mixins
@mixin above($width) {
  @media (min-width: $width) {
    @content;
  }
}

@mixin below($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin between($minwidth, $maxwidth) {
  @media (min-width: $minwidth) and (max-width: $maxwidth) {
    @content;
  }
}

// Big Horizontal Shadow - Defaults to bottom
@mixin big-shadow($position: 'bottom') {
    &:after {
        content:'';
        position:absolute;
        z-index: -1;
        box-shadow: 0 0 15px $color-text;
        #{$position}: 0px;
        left:5%;
        right:5%;
        height:50%;
        border-radius:100%;
        width:90%;
        @include above(900px) {
            box-shadow: 0 0 25px $color-text;
        }
    }
}