$color-primary  : #0982C8;
$color-secondary: #909395;
$color-text     : #3E4447;
$color-bg       : #fff;
$color-bg-alt   : #E2E1E3;
$color-bg-light : #f4f3f4;
$color-bg-dark  : #ebeaeb;
$gutter         : 2px;
$color-border   : #EDECEE;