.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.alignright {
  float: right;
  margin-left: 1em;
}

.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}